/*
 Catppuccin mocha

 base: rgb(30, 30, 46)
 text: rgb(205, 214, 244)
 surface0: rgb(49, 50, 68)
 Lavender (Accent): rgb(180, 190, 254)
*/

* {
	all: unset;
	font-size: 1.3rem;
}

#window,
#match,
#entry,
#plugin,
#main {
	background: transparent;
}

#match.activatable {
	border-radius: 7px;
	padding: 3px 3px;
	margin-top: 1px;
}

#match.activatable:first-child {
	margin-top: 9px;
}

#match.activatable:last-child {
	margin-bottom: 1px;
}

#plugin:hover #match.activatable {
	border-radius: 7px;
	padding: .3rem;
	margin-top: .01rem;
	margin-bottom: 0;
}


#match:selected {
	color: rgb(205, 214, 244);
	background: rgba(180, 190, 254, 0.1);
	border-radius: 7px;
}

#entry {
	border-radius: 7px;
	margin: 3px;
	padding: 5px 5px;
	caret-color: white;
	font-weight: 500;
}

list>#plugin {
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	margin: 3px;
	padding-top: 3px;
	padding-left: 3px;
	font-weight: 400;
}

list>#plugin:first-child {
	margin-top: .3rem;
}

list>#plugin:last-child {
	margin-bottom: .3rem;
}

list>#plugin:hover {
	padding: 5px;
}

box#main {
	color: white;
	border: solid 2px rgba(180, 190, 254, 0.8);
	border-radius: 20px;
	background-color: rgba(30, 30, 46, 0.8);
	box-shadow:
		inset 0 0 0 1px rgba(255, 255, 255, 0.1),
		0 0 0 1px rgba(0, 0, 0, 0.5);
	margin-top: 15px;
	padding: 8px 5px;
}
